:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primari-white-color: #ffffff;
  --background: #f4f4fd;
  --focus-hover-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--primari-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 1128px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--primari-white-color);
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.page-header-container {
  display: flex;
}
/* Site nav */
.navigate {
  display: flex;
  padding-right: 20px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-color {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--focus-hover-color);
}
.head-link:not(:last-child) {
  margin-right: 40px;
}

.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
}
.auth-address {
  font-style: normal;
  margin-left: auto;
}
.mail-link {
  margin-right: 40px;
}
.auth-nav {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
}
.link:hover,
.link:focus {
  color: var(--focus-hover-color);
}

/* section */
.hero {
  background-color: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 292px;
  text-align: center;
}
.hero-title {
  color: var(--primari-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button {
  color: var(--primari-white-color);
  background: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: 0;
  padding: 16px 32px;
}

.button:hover,
.button:focus {
  color: var(--primari-white-color);
  background: var(--focus-hover-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-features {
  background-color: var(--primari-white-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}
.feature-list {
  display: flex;
  background-color: var(--primari-white-color);
}
.title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-work {
  color: var(--primary-text-color);
  background-color: var(--primari-white-color);
}

.work-list {
  display: flex;
}
.work-img:not(:last-child) {
  margin-right: 20px;
}
.section-team {
  background-color: var(--background);
}
.team-list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  justify-content: space-between;
  display: flex;
}
.team-card {
  display: flex;
}
.team-fon {
  background-color: var(--primari-white-color);
  text-align: center;
}
.text-team {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.padding-team {
  margin-bottom: 32px;
}
/* Footer */

.footer {
  background-color: var(--title-text-color);
}
.logo-footer {
  color: var(--background);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: ;
}
.footer-size {
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-footer {
  color: var(--primari-white-color);
  width: 264px;
  margin-top: 18px;
}

/* Portfolio */

.button-portfolio {
  color: var(--accent-color);
  background-color: var(--background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-portfolio.primary {
  color: var(--primari-white-color);
  background: var(--accent-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primari-white-color);
  background-color: var(--focus-hover-color);
}

.button-list {
  display: flex;
  padding-top: 96px;
}

.button-line:not(:last-child) {
  margin-right: 24px;
}

.our-work {
  color: #e7e9fc;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
