:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primari-white-color: #ffffff;
  --background: #f4f4fd;
  --focus-hover-color: #404bbf;
  --botton-border-color: #e7e9fc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--primari-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ======================Header================= */
.header {
  background-color: var(--primari-white-color);
  border-bottom: 1px solid #e7e9fc;
  /* padding: 24px 0; */
}
.page-header-container {
  display: flex;
  /* padding: 24px 0; */
}
.navigate {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-color {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--focus-hover-color);
}
.head-link:not(:last-child) {
  margin-right: 40px;
}
.padding-link {
  padding: 24px 0;
}

/* ======================Site Navigation==============  */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
}
.auth-address {
  font-style: normal;
  margin-left: auto;
}
.auth-nav {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  gap: 40px;
}
.link:hover,
.link:focus {
  color: var(--focus-hover-color);
}

/* =====================Section===================== */
.hero {
  background-color: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.hero-title {
  color: var(--primari-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button {
  color: var(--primari-white-color);
  background: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  height: 56px;
  border: none;
  min-width: 169px;
}

.button:hover,
.button:focus {
  color: var(--primari-white-color);
  background: var(--focus-hover-color);
}
/* =========================Section 2=================== */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-features {
  background-color: var(--primari-white-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}
.feature-list {
  background-color: var(--primari-white-color);
  display: flex;
  gap: 24px;
}
.feature-text {
  width: calc((100% - 72px) / 4);
}
.title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* =========================Section 3 ================= */
.section-work {
  color: var(--primary-text-color);
  background-color: var(--primari-white-color);
}

.work-list {
  display: flex;
  gap: 24px;
}
.work-img {
  width: calc((100% - 48px) / 3);
}

/* ========================= Section 4 =============== */
.section-team {
  background-color: var(--background);
}
.team-list {
  justify-content: space-between;
  display: flex;
  gap: 24px;
}
.team-pic {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-name-prof {
  background-color: var(--primari-white-color);
  padding: 32px 16px;
  text-align: center;
}
.title-team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.text-team {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.text {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ========================= Footer ==================*/
.footer {
  background-color: var(--title-text-color);
  padding: 100px 0;
}
.logo-footer {
  color: var(--background);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  color: var(--background);
  width: 264px;
  margin-top: 18px;
}

/* ======================= Portfolio ===========*/
.button-portfolio {
  color: var(--accent-color);
  background-color: var(--background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--botton-border-color);
  border-radius: 4px;
  padding: 12px 24px;
}
/* .button-portfolio.primary { */
/* color: var(--primari-white-color); */
/* background: var(--accent-color); */
/* } */

.button-portfolio:hover,
.button-portfolio:focus {
  border: 1px solid transparent;
  color: var(--primari-white-color);
  background-color: var(--focus-hover-color);
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* =========================  Our Work ============== */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.our-work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.work-fon {
  background-color: var(--primari-white-color);
  padding-bottom: 32px;
  margin-bottom: 42px;
  background-origin: padding-box;
  width: calc((100% - 48px) / 3);
}
.work-link {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border: 1px solid var(--botton-border-color);
  border-top: none;
}
